.CanvasContainer {
  height: 700px;
  width: 100%;
}
Canvas {
  background-color: #313131;
}
.fsicon {
  filter: drop-shadow(-1px 2px 5px rgba(0, 0, 0, 0.82));
}
.CanvasContainer.h-screen canvas {
  height: 100vh !important;
}
