.Details {
  overflow-y: auto;
}

.Details::-webkit-scrollbar {
  width: 7px;
}
.Details::-webkit-scrollbar-track {
  background: #ffffff;
}

.Details::-webkit-scrollbar-thumb {
  background: #888;
}

.Details::-webkit-scrollbar-thumb:hover {
  background: #555;
  overflow: hidden;
}

.containerb {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 200px;
  align-items: start;
}

.brand {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.model {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
